*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem01/SumarApp/nbproject/private/
/Sem01/SumarApp/build/
/Sem01/SumaApp/nbproject/private/
/Sem01/SumaApp/build/
/Sem01/VentaApp/nbproject/private/
/Sem01/VentaApp/build/
/Sem02/DemoJSP01/nbproject/private/
/Sem02/DemoJSP01/build/
/Sem02/DemoJSP02/nbproject/private/
/Sem02/DemoJSP02/build/
/Sem02/MVC01/nbproject/private/
/Sem02/MVC01/build/
/Sem02/MateApp/nbproject/private/
/Sem02/MateApp/build/
/Sem03/MateApp/nbproject/private/
/Sem03/MateApp/build/
/Sem03/VentaApp-MVC-JSTL/nbproject/private/
/Sem03/VentaApp-MVC-JSTL/build/
/Sem04/AprendiendoJDBC/nbproject/private/
/Sem04/AprendiendoJDBC/build/
/Sem05/AprendiendoJDBC/nbproject/private/
/Sem05/AprendiendoJDBC/build/
/Sem06/FastFoodWeb/dist/
/Sem08/FastFoodWeb/build/
/Sem08/FastFoodWeb/dist/
/Sem08/FastFoodWeb/nbproject/private/